<div class="content-container">
    <div class="content-container-inner">
        <div class="text-container">
            <h2 class="title">brosuri/carti</h2>
            <hr>
            <p>Editura Treira va ofera posibilitatea sa tipariti la cele mai inalte standarde brosuri de prezentare, carti, albume de arta.</p>
            <p>Tiparul poate fi realizat policrom sau monocrom, in functie de preferintele dumneavoastra, finisajul facandu-se prin coasere, capsare sau termolipire.</p>
            <p>Copertile confectionate din carton tare si innobilate prin lacuire selectiva, poleire, embosare sau alte procedee vor adauga un plus de valoare lucrarii dumneavoastra.</p>
        </div>
        <div class="image-container">
            <div class="wrapper">
                <a href="/assets/oferte/brosuri&carti/brosuri&carti002.jpg"><img src="/assets/oferte/brosuri&carti/brosuri&carti002_thumbnail.jpeg" width="290" height="180"></a>
                <a href="/assets/oferte/brosuri&carti/brosuri&carti003.jpg"><img src="/assets/oferte/brosuri&carti/brosuri&carti003_thumbnail.jpeg" width="290" height="180"></a>
                <a href="/assets/oferte/brosuri&carti/brosuri&carti004.jpg"><img src="/assets/oferte/brosuri&carti/brosuri&carti004_thumbnail.jpeg" width="290" height="180"></a>
                <a href="/assets/oferte/brosuri&carti/brosuri&carti008.jpg"><img src="/assets/oferte/brosuri&carti/brosuri&carti008_thumbnail.jpeg" width="290" height="180"></a>
                <a href="/assets/oferte/brosuri&carti/brosuri&carti009.jpg"><img src="/assets/oferte/brosuri&carti/brosuri&carti009_thumbnail.jpeg" width="290" height="180"></a>
                <a href="/assets/oferte/brosuri&carti/brosuri&carti017.jpg"><img src="/assets/oferte/brosuri&carti/brosuri&carti017_thumbnail.jpeg" width="290" height="180"></a>
                <a href="/assets/oferte/brosuri&carti/brosuri&carti018.jpg"><img src="/assets/oferte/brosuri&carti/brosuri&carti018_thumbnail.jpeg" width="290" height="180"></a>
                <a href="/assets/oferte/brosuri&carti/brosuri&carti021.jpg"><img src="/assets/oferte/brosuri&carti/brosuri&carti021_thumbnail.jpeg" width="290" height="180"></a>
                <a href="/assets/oferte/brosuri&carti/brosuri&carti022.jpg"><img src="/assets/oferte/brosuri&carti/brosuri&carti022_thumbnail.jpeg" width="290" height="180"></a>
                <a href="/assets/oferte/brosuri&carti/brosuri&carti024.jpg"><img src="/assets/oferte/brosuri&carti/brosuri&carti024_thumbnail.jpeg" width="290" height="180"></a>
                <a href="/assets/oferte/brosuri&carti/brosuri&carti026.jpg"><img src="/assets/oferte/brosuri&carti/brosuri&carti026_thumbnail.jpeg" width="290" height="180"></a>
                <a href="/assets/oferte/brosuri&carti/brosuri&carti027.jpg"><img src="/assets/oferte/brosuri&carti/brosuri&carti027_thumbnail.jpeg" width="290" height="180"></a>
                <a href="/assets/oferte/brosuri&carti/brosuri&carti030.jpg"><img src="/assets/oferte/brosuri&carti/brosuri&carti030_thumbnail.jpeg" width="290" height="180"></a>
                <a href="/assets/oferte/brosuri&carti/brosuri&carti031.jpg"><img src="/assets/oferte/brosuri&carti/brosuri&carti031_thumbnail.jpeg" width="290" height="180"></a>
                <a href="/assets/oferte/brosuri&carti/brosuri&carti032.jpg"><img src="/assets/oferte/brosuri&carti/brosuri&carti032_thumbnail.jpeg" width="290" height="180"></a>
                <a href="/assets/oferte/brosuri&carti/brosuri&carti032-2.jpg"><img src="/assets/oferte/brosuri&carti/brosuri&carti032-2_thumbnail.jpeg" width="290" height="180"></a>
                <a href="/assets/oferte/brosuri&carti/brosuri&carti033.jpg"><img src="/assets/oferte/brosuri&carti/brosuri&carti033_thumbnail.jpeg" width="290" height="180"></a>
                <a href="/assets/oferte/brosuri&carti/brosuri&carti034.jpg"><img src="/assets/oferte/brosuri&carti/brosuri&carti034_thumbnail.jpeg" width="290" height="180"></a>
                <a href="/assets/oferte/brosuri&carti/brosuri&carti034-1.jpg"><img src="/assets/oferte/brosuri&carti/brosuri&carti034-1_thumbnail.jpeg" width="290" height="180"></a>
                <a href="/assets/oferte/brosuri&carti/brosuri&carti036.jpg"><img src="/assets/oferte/brosuri&carti/brosuri&carti036_thumbnail.jpeg" width="290" height="180"></a>
                <a href="/assets/oferte/brosuri&carti/brosuri&carti038.jpg"><img src="/assets/oferte/brosuri&carti/brosuri&carti038_thumbnail.jpeg" width="290" height="180"></a>
                <a href="/assets/oferte/brosuri&carti/brosuri&carti040.jpg"><img src="/assets/oferte/brosuri&carti/brosuri&carti040_thumbnail.jpeg" width="290" height="180"></a>
                <a href="/assets/oferte/brosuri&carti/brosuri&carti044.jpg"><img src="/assets/oferte/brosuri&carti/brosuri&carti044_thumbnail.jpeg" width="290" height="180"></a>
                <a href="/assets/oferte/brosuri&carti/brosuri&carti045.jpg"><img src="/assets/oferte/brosuri&carti/brosuri&carti045_thumbnail.jpeg" width="290" height="180"></a>
                <a href="/assets/oferte/brosuri&carti/brosuri&carti047.jpg"><img src="/assets/oferte/brosuri&carti/brosuri&carti047_thumbnail.jpeg" width="290" height="180"></a>
                <a href="/assets/oferte/brosuri&carti/brosuri&carti048.jpg"><img src="/assets/oferte/brosuri&carti/brosuri&carti048_thumbnail.jpeg" width="290" height="180"></a>
                <a href="/assets/oferte/brosuri&carti/brosuri&carti050.jpg"><img src="/assets/oferte/brosuri&carti/brosuri&carti050_thumbnail.jpeg" width="290" height="180"></a>   
            </div>
        </div>
    </div>
</div>