<div class="content-container">
    <div class="content-container-inner">
        <div class="text-container">
            <h2 class="title">cataloage / brosuri</h2>
            <hr>
            <p>Editura Treira va ofera posibilitatea sa tipariti la cele mai inalte standarde brosuri de prezentare, cataloage.</p>
            <p>Tiparul poate fi realizat policrom sau monocrom, in functie de preferintele dumneavoastra, finisajul facandu-se prin coasere, capsare sau termolipire.</p>
            <p>Copertile confectionate din carton tare si innobilate prin lacuire selectiva, poleire, embosare sau alte procedee vor adauga un plus de valoare lucrarii dumneavoastra.</p>
            <p>Ca noutate, se preiau comenzi pentru catalog cusut, coperta vinil, cotor panza+ colturi metalice NOU, cu REZISTENTA MARITA IN UTILIZARE INTENSA!!!</p>
            <b> <p><a href="formulare/2020 - OFERTA TREIRA materiale scolare si formular de comanda.xls">Formular de comanda 2020</a></p></b>
            <br>
            <p>Materialele  scolare speciale pentru scoli postliceale, respectiv arte si meserii, se tiparesc pe baza de comanda, preturile fiind calculate in functie de cantitatea comandata.</p>
			<p>Orice alt formular, registru sau coperta de arhivare a cataloagelor se poate executa după modelul solicitat, în condiţii de calitate foarte buna.</p>
			<br>
			<p> Plata se poate face in numerar la ridicarea marfii sau in unul din urmatoarele conturi:</p> 
			<p><b>BANCA TRANSILVANIA ORADEA	     RO50 BTRL 0050 1202 7229 95XX</b></p>
			<p><b>ING BANK ORADEA		           RO34 INGB 0000 9999 0668 3211</b></p>
			<p><b>TREZORERIA ORADEA               RO78 TREZ 0765 069X XX00 1074</b></p>
        </div>
        <div class="image-container">
            <div class="wrapper">
                <a href="/assets/oferte/materiale scoalare/018.jpg"><img src="/assets/oferte/materiale scoalare/018_thumbnail.jpeg" width="290" height="180"></a>
                <a href="/assets/oferte/materiale scoalare/019.jpg"><img src="/assets/oferte/materiale scoalare/019_thumbnail.jpeg" width="290" height="180"></a>
                <a href="/assets/oferte/materiale scoalare/020.jpg"><img src="/assets/oferte/materiale scoalare/020_thumbnail.jpeg" width="290" height="180"></a>
                <a href="/assets/oferte/materiale scoalare/021.jpg"><img src="/assets/oferte/materiale scoalare/021_thumbnail.jpeg" width="290" height="180"></a>
                <a href="/assets/oferte/materiale scoalare/022.jpg"><img src="/assets/oferte/materiale scoalare/022_thumbnail.jpeg" width="290" height="180"></a>
                <a href="/assets/oferte/materiale scoalare/023.jpg"><img src="/assets/oferte/materiale scoalare/023_thumbnail.jpeg" width="290" height="180"></a>
                <a href="/assets/oferte/materiale scoalare/024.jpg"><img src="/assets/oferte/materiale scoalare/024_thumbnail.jpeg" width="290" height="180"></a>
                <a href="/assets/oferte/materiale scoalare/025.jpg"><img src="/assets/oferte/materiale scoalare/025_thumbnail.jpeg" width="290" height="180"></a>
                <a href="/assets/oferte/materiale scoalare/026.jpg"><img src="/assets/oferte/materiale scoalare/026_thumbnail.jpeg" width="290" height="180"></a>
                <a href="/assets/oferte/materiale scoalare/031.jpg"><img src="/assets/oferte/materiale scoalare/031_thumbnail.jpeg" width="290" height="180"></a>
                
                <a href="/assets/oferte/brosuri&carti/brosuri&carti031.jpg"><img src="/assets/oferte/brosuri&carti/brosuri&carti031_thumbnail.jpeg" width="290" height="180"></a>
                <a href="/assets/oferte/brosuri&carti/brosuri&carti032.jpg"><img src="/assets/oferte/brosuri&carti/brosuri&carti032_thumbnail.jpeg" width="290" height="180"></a>
                <a href="/assets/oferte/brosuri&carti/brosuri&carti032-2.jpg"><img src="/assets/oferte/brosuri&carti/brosuri&carti032-2_thumbnail.jpeg" width="290" height="180"></a>
                <a href="/assets/oferte/brosuri&carti/brosuri&carti033.jpg"><img src="/assets/oferte/brosuri&carti/brosuri&carti033_thumbnail.jpeg" width="290" height="180"></a>
                <a href="/assets/oferte/brosuri&carti/brosuri&carti034.jpg"><img src="/assets/oferte/brosuri&carti/brosuri&carti034_thumbnail.jpeg" width="290" height="180"></a>
                <a href="/assets/oferte/brosuri&carti/brosuri&carti034-1.jpg"><img src="/assets/oferte/brosuri&carti/brosuri&carti034-1_thumbnail.jpeg" width="290" height="180"></a>
                <a href="/assets/oferte/brosuri&carti/brosuri&carti036.jpg"><img src="/assets/oferte/brosuri&carti/brosuri&carti036_thumbnail.jpeg" width="290" height="180"></a>
                <a href="/assets/oferte/brosuri&carti/brosuri&carti038.jpg"><img src="/assets/oferte/brosuri&carti/brosuri&carti038_thumbnail.jpeg" width="290" height="180"></a>
                <a href="/assets/oferte/brosuri&carti/brosuri&carti040.jpg"><img src="/assets/oferte/brosuri&carti/brosuri&carti040_thumbnail.jpeg" width="290" height="180"></a>
                <a href="/assets/oferte/brosuri&carti/brosuri&carti044.jpg"><img src="/assets/oferte/brosuri&carti/brosuri&carti044_thumbnail.jpeg" width="290" height="180"></a>
                <a href="/assets/oferte/brosuri&carti/brosuri&carti045.jpg"><img src="/assets/oferte/brosuri&carti/brosuri&carti045_thumbnail.jpeg" width="290" height="180"></a>
                <a href="/assets/oferte/brosuri&carti/brosuri&carti047.jpg"><img src="/assets/oferte/brosuri&carti/brosuri&carti047_thumbnail.jpeg" width="290" height="180"></a>
                <a href="/assets/oferte/brosuri&carti/brosuri&carti048.jpg"><img src="/assets/oferte/brosuri&carti/brosuri&carti048_thumbnail.jpeg" width="290" height="180"></a>
                <a href="/assets/oferte/brosuri&carti/brosuri&carti050.jpg"><img src="/assets/oferte/brosuri&carti/brosuri&carti050_thumbnail.jpeg" width="290" height="180"></a>   
            </div>
        </div>
    </div>
</div>