<div class="content-container">
    <div class="content-container-inner">
        <div class="text-container">
            <h2 class="title">despre noi</h2>
            <hr>
            <p>Infiintata in decembrie 1992, <b>Poligrafia Treira</b> are ca principal obiect de activitate productia tipografica, respectiv :</p>
            </p>- <b>tiparituri comerciale</b>  (fluturasi, pliante, mape, cataloage, materiale publicitare variate, carti, tipizate de uz fiscal, formulare speciale inseriate cu cifre sau coduri de bare/QR, tiparituri  protejate la copiere cu  cerneluri fluorescente sau holograme, materiale scolare, etc.)</p>
            </p>- <b>ambalaje</b> , atat ca <b>ambalaje de prezentare a produselor</b>  (cutii de prezentare a produselor, cutii de cadouri, cutii personalizate pt. bauturi, cutii caserate cu imaginea dorita, etc.) cat si ca <b>ambalaje de transport</b> (cutii din carton ondulat in 3-5 straturi de carton ondulat, personalizate prin tipar flexografic, proiectate conform cerintelor clientului; separatoare, etc.)</p>
			<p>Cu experienta unei <b> traditii de peste 25 de ani</b> dispunem de cunostiintele necesare executiei de produse tipografice cu <b>finisaje premium,</b> innobilate prin diverse metode (plastifiere mata sau lucioasa, lacuire selectiva UV, embosare/imprimare in relief, imprimare folio, <b>gravare/decupare laser</b>, etc.).</p>
			<p>In afara produselor tipografice curente, echipa noastra va  ofera o gama diversificata de <b>materiale promotionale de sezon</b> (calendare, agende, notesuri, cuburi de hartie, mape de birou, sacose personalizate din hartie, <b>pixuri imprimate sau gravate</b>, etc.).</p>
			<p>Tipografia Treira vine in intampinarea solicitarilor Dvs. cu o <b>echipa de profesionisti</b>, care pune  accentul pe <b>calitatea produselor furnizate</b>. Compartimentul nostru de <b>design si tehnoredactare</b> va fi mereu alaturi de dumneavoastra pentru reusita fiecarui proiect, <b>indiferent de complexitatea acestuia</b>. Pe parcursul anilor am investit constant in echipamente moderne pentru a  va putea oferi produse de calitate ridicata  la preturi competitive.</p>
        </div>
        <div class="image-container home-container">
            <img src="/assets/oferte/despre noi/Banner_Digital Printing and Production 1.jpg" width="50%" alt="">
            <img src="/assets/oferte/despre noi/Banner_Digital Printing and Production 2.jpg" width="50%" alt="">
        </div>
    </div>
</div>