<div class="content-container">
    <div class="content-container-inner">
        <div class="text-container">
            <h2 class="title">materiale scolare / diplome</h2>
            <hr>
            <p>Tipografia Treira va pune la dispozitie un sortiment diversificat de diplome scolare tiparirte color, pe carton de calitate,
			personalizate sau nepersonalizate. La solicitarea dumneavoastra livram oriunde in tara prin servicii de curierat rapid sau prin 
            serviciile Postei Romane.
            </p> 
            <p>
            Pentru comenzi va rugam sa descarcati formularul de comanda de mai jos si dupa completare sa il transmiteti pe adresa de e-mail
            comenzi@treira.ro sau prin fax la numarul 0259|419 482
            </p>
            <a href="/assets/oferte/formulare/2018 - DIPLOME PREMIU - Formular de comanda.xls">Formular de comanda diplome scolare</a>
            <br>
            <br>
            <p>In fiecare an avem placerea de a va oferi o gama completa si reactualizata de materiale scolare:</p>
            <p>- carnete de elev;</p>
            <p>- registre matricole cu coperti tari imbracate in imitatie de piele;</p>
            <p>- foi de examen;</p>
            <p>- foi matricole;</p>
            <p>- adeverinte scolare;</p>
            <p>- legitimatii, ecusoane;</p>
            <p>- fise PSI, fise SSM</p>
            <p>- diverse tiparituri dupa modelul clientului, etc.</p>
            <p>Ca noutate, se preiau comenzi pentru catalog cusut, coperta vinil, cotor panza+ colturi metalice NOU, cu REZISTENTA MARITA IN UTILIZARE INTENSA!!!</p>
            <b> <p><a href="formulare/2020 - OFERTA TREIRA materiale scolare si formular de comanda.xls">Formular de comanda 2020</a></p></b>
            <br>
            <p>Materialele  scolare speciale pentru scoli postliceale, respectiv arte si meserii, se tiparesc pe baza de comanda, preturile fiind calculate in functie de cantitatea comandata.</p>
			<p>Orice alt formular, registru sau coperta de arhivare a cataloagelor se poate executa după modelul solicitat, în condiţii de calitate foarte buna.</p>
			<br>
			<p> Plata se poate face in numerar la ridicarea marfii sau in unul din urmatoarele conturi:</p> 
			<p><b>BANCA TRANSILVANIA ORADEA	     RO50 BTRL 0050 1202 7229 95XX</b></p>
			<p><b>ING BANK ORADEA		           RO34 INGB 0000 9999 0668 3211</b></p>
			<p><b>TREZORERIA ORADEA               RO78 TREZ 0765 069X XX00 1074</b></p>
        </div>
        <div class="image-container">
            <div class="wrapper">
                <a href="/assets/oferte/materiale scoalare/001.jpg"><img src="/assets/oferte/materiale scoalare/001_thumbnail.jpeg" width="290" height="180"></a>
                <a href="/assets/oferte/materiale scoalare/002.jpg"><img src="/assets/oferte/materiale scoalare/002_thumbnail.jpeg" width="290" height="180"></a>
                <a href="/assets/oferte/materiale scoalare/003.jpg"><img src="/assets/oferte/materiale scoalare/003_thumbnail.jpeg" width="290" height="180"></a>
                <a href="/assets/oferte/materiale scoalare/004.jpg"><img src="/assets/oferte/materiale scoalare/004_thumbnail.jpeg" width="290" height="180"></a>
                <a href="/assets/oferte/materiale scoalare/005.jpg"><img src="/assets/oferte/materiale scoalare/005_thumbnail.jpeg" width="290" height="180"></a>
                <a href="/assets/oferte/materiale scoalare/006.jpg"><img src="/assets/oferte/materiale scoalare/006_thumbnail.jpeg" width="290" height="180"></a>
                <a href="/assets/oferte/materiale scoalare/007.jpg"><img src="/assets/oferte/materiale scoalare/007_thumbnail.jpeg" width="290" height="180"></a>
                <a href="/assets/oferte/materiale scoalare/008.jpg"><img src="/assets/oferte/materiale scoalare/008_thumbnail.jpeg" width="290" height="180"></a>
                <a href="/assets/oferte/materiale scoalare/009.jpg"><img src="/assets/oferte/materiale scoalare/009_thumbnail.jpeg" width="290" height="180"></a>
                <a href="/assets/oferte/materiale scoalare/010.jpg"><img src="/assets/oferte/materiale scoalare/010_thumbnail.jpeg" width="290" height="180"></a>
                <a href="/assets/oferte/materiale scoalare/011.jpg"><img src="/assets/oferte/materiale scoalare/011_thumbnail.jpeg" width="290" height="180"></a>
                <a href="/assets/oferte/materiale scoalare/012.jpg"><img src="/assets/oferte/materiale scoalare/012_thumbnail.jpeg" width="290" height="180"></a>
                <a href="/assets/oferte/materiale scoalare/013.jpg"><img src="/assets/oferte/materiale scoalare/013_thumbnail.jpeg" width="290" height="180"></a>
                <a href="/assets/oferte/materiale scoalare/014.jpg"><img src="/assets/oferte/materiale scoalare/014_thumbnail.jpeg" width="290" height="180"></a>
                <a href="/assets/oferte/materiale scoalare/015.jpg"><img src="/assets/oferte/materiale scoalare/015_thumbnail.jpeg" width="290" height="180"></a>
                <a href="/assets/oferte/materiale scoalare/016.jpg"><img src="/assets/oferte/materiale scoalare/016_thumbnail.jpeg" width="290" height="180"></a>
                <a href="/assets/oferte/materiale scoalare/017.jpg"><img src="/assets/oferte/materiale scoalare/017_thumbnail.jpeg" width="290" height="180"></a>
                
                <a href="/assets/oferte/poze diplome/001_50052_copiii deseneaza.jpg"><img src="/assets/oferte/poze diplome/001_50052_copiii deseneaza_thumbnail.jpeg" width="280" height="190"></a>  
                <a href="/assets/oferte/poze diplome/002_50051_liceu.jpg"><img src="/assets/oferte/poze diplome/002_50051_liceu_thumbnail.jpeg" width="280" height="190"></a>
                <a href="/assets/oferte/poze diplome/003_50050_cerc.jpg"><img src="/assets/oferte/poze diplome/003_50050_cerc_thumbnail.jpeg" width="280" height="190"></a>
                <a href="/assets/oferte/poze diplome/004_50049_copii in roba.jpg"><img src="/assets/oferte/poze diplome/004_50049_copii in roba_thumbnail.jpeg" width="280" height="190"></a>
                <a href="/assets/oferte/poze diplome/005_46469_select.jpg"><img src="/assets/oferte/poze diplome/005_46469_select_thumbnail.jpeg" width="280" height="190"></a>
                <a href="/assets/oferte/poze diplome/006_46468_instrumente.jpg"><img src="/assets/oferte/poze diplome/006_46468_instrumente_thumbnail.jpeg" width="280" height="190"></a>
                <a href="/assets/oferte/poze diplome/007_46467_creioane.jpg"><img src="/assets/oferte/poze diplome/007_46467_creioane_thumbnail.jpeg" width="280" height="190"></a>
                <a href="/assets/oferte/poze diplome/008_46466_bobocei.jpg"><img src="/assets/oferte/poze diplome/008_46466_bobocei_thumbnail.jpeg" width="280" height="190"></a>
                <a href="/assets/oferte/poze diplome/009_39512_personalitati.jpg"><img src="/assets/oferte/poze diplome/009_39512_personalitati_thumbnail.jpeg" width="280" height="190"></a>
                <a href="/assets/oferte/poze diplome/010_27587_cartea deschisa.jpg"><img src="/assets/oferte/poze diplome/010_27587_cartea deschisa_thumbnail.jpeg" width="280" height="190"></a>
                <a href="/assets/oferte/poze diplome/011_26862_scolari fericiti.jpg"><img src="/assets/oferte/poze diplome/011_26862_scolari fericiti_thumbnail.jpeg" width="280" height="190"></a>
                <a href="/assets/oferte/poze diplome/012_21674_cunoastere si miscare.jpg"><img src="/assets/oferte/poze diplome/012_21674_cunoastere si miscare_thumbnail.jpeg" width="280" height="190"></a>
                <a href="/assets/oferte/poze diplome/013_21667_busola.jpg"><img src="/assets/oferte/poze diplome/013_21667_busola_thumbnail.jpeg" width="280" height="190"></a>
                <a href="/assets/oferte/poze diplome/014_21666_bucurie.jpg"><img src="/assets/oferte/poze diplome/014_21666_bucurie_thumbnail.jpeg" width="280" height="190"></a>
                <a href="/assets/oferte/poze diplome/015_19178_aspiratie.jpg"><img src="/assets/oferte/poze diplome/015_19178_aspiratie_thumbnail.jpeg" width="280" height="190"></a>
                <a href="/assets/oferte/poze diplome/016_16379_mana scriind.jpg"><img src="/assets/oferte/poze diplome/016_16379_mana scriind_thumbnail.jpeg" width="280" height="190"></a>
            </div>
        </div>
    </div>
</div>