<div class="content-container">
    <div class="content-container-inner">
        <div class="text-container">
            <h2 class="title">materiale scolare</h2>
            <hr>
            <p>In fiecare an avem placerea de a va oferi o gama completa si reactualizata de materiale scolare:</p>
            <p>- cataloage de note pentru toate ciclurile de invatamant, copertate cu carton duplex sau imitaţie piele;</p>
            <p>- carnete de elev;</p>
            <p>- registre matricole cu coperti tari imbracate in imitatie de piele;</p>
            <p>- foi de examen;</p>
            <p>- foi matricole;</p>
            <p>- adeverinte scolare;</p>
            <p>- legitimatii, ecusoane;</p>
            <p>- fise PSI, fise SSM</p>
            <p>- diverse tiparituri dupa modelul clientului, etc.</p>
            <p>Ca noutate, se preiau comenzi pentru catalog cusut, coperta vinil, cotor panza+ colturi metalice NOU, cu REZISTENTA MARITA IN UTILIZARE INTENSA!!!</p>
            <b> <p><a href="formulare/2020 - OFERTA TREIRA materiale scolare si formular de comanda.xls">Formular de comanda 2020</a></p></b>
            <br>
            <p>Materialele  scolare speciale pentru scoli postliceale, respectiv arte si meserii, se tiparesc pe baza de comanda, preturile fiind calculate in functie de cantitatea comandata.</p>
			<p>Orice alt formular, registru sau coperta de arhivare a cataloagelor se poate executa după modelul solicitat, în condiţii de calitate foarte buna.</p>
			<br>
			<p> Plata se poate face in numerar la ridicarea marfii sau in unul din urmatoarele conturi:</p> 
			<p><b>BANCA TRANSILVANIA ORADEA	     RO50 BTRL 0050 1202 7229 95XX</b></p>
			<p><b>ING BANK ORADEA		           RO34 INGB 0000 9999 0668 3211</b></p>
			<p><b>TREZORERIA ORADEA               RO78 TREZ 0765 069X XX00 1074</b></p>
        </div>
        <div class="image-container">
            <div class="wrapper">
                <a href="/assets/oferte/materiale scoalare/001.jpg"><img src="/assets/oferte/materiale scoalare/001_thumbnail.jpeg" width="290" height="180"></a>
                <a href="/assets/oferte/materiale scoalare/002.jpg"><img src="/assets/oferte/materiale scoalare/002_thumbnail.jpeg" width="290" height="180"></a>
                <a href="/assets/oferte/materiale scoalare/003.jpg"><img src="/assets/oferte/materiale scoalare/003_thumbnail.jpeg" width="290" height="180"></a>
                <a href="/assets/oferte/materiale scoalare/004.jpg"><img src="/assets/oferte/materiale scoalare/004_thumbnail.jpeg" width="290" height="180"></a>
                <a href="/assets/oferte/materiale scoalare/005.jpg"><img src="/assets/oferte/materiale scoalare/005_thumbnail.jpeg" width="290" height="180"></a>
                <a href="/assets/oferte/materiale scoalare/006.jpg"><img src="/assets/oferte/materiale scoalare/006_thumbnail.jpeg" width="290" height="180"></a>
                <a href="/assets/oferte/materiale scoalare/007.jpg"><img src="/assets/oferte/materiale scoalare/007_thumbnail.jpeg" width="290" height="180"></a>
                <a href="/assets/oferte/materiale scoalare/008.jpg"><img src="/assets/oferte/materiale scoalare/008_thumbnail.jpeg" width="290" height="180"></a>
                <a href="/assets/oferte/materiale scoalare/009.jpg"><img src="/assets/oferte/materiale scoalare/009_thumbnail.jpeg" width="290" height="180"></a>
                <a href="/assets/oferte/materiale scoalare/010.jpg"><img src="/assets/oferte/materiale scoalare/010_thumbnail.jpeg" width="290" height="180"></a>
                <a href="/assets/oferte/materiale scoalare/011.jpg"><img src="/assets/oferte/materiale scoalare/011_thumbnail.jpeg" width="290" height="180"></a>
                <a href="/assets/oferte/materiale scoalare/012.jpg"><img src="/assets/oferte/materiale scoalare/012_thumbnail.jpeg" width="290" height="180"></a>
                <a href="/assets/oferte/materiale scoalare/013.jpg"><img src="/assets/oferte/materiale scoalare/013_thumbnail.jpeg" width="290" height="180"></a>
                <a href="/assets/oferte/materiale scoalare/014.jpg"><img src="/assets/oferte/materiale scoalare/014_thumbnail.jpeg" width="290" height="180"></a>
                <a href="/assets/oferte/materiale scoalare/015.jpg"><img src="/assets/oferte/materiale scoalare/015_thumbnail.jpeg" width="290" height="180"></a>
                <a href="/assets/oferte/materiale scoalare/016.jpg"><img src="/assets/oferte/materiale scoalare/016_thumbnail.jpeg" width="290" height="180"></a>
                <a href="/assets/oferte/materiale scoalare/017.jpg"><img src="/assets/oferte/materiale scoalare/017_thumbnail.jpeg" width="290" height="180"></a>
                <a href="/assets/oferte/materiale scoalare/018.jpg"><img src="/assets/oferte/materiale scoalare/018_thumbnail.jpeg" width="290" height="180"></a>
                <a href="/assets/oferte/materiale scoalare/019.jpg"><img src="/assets/oferte/materiale scoalare/019_thumbnail.jpeg" width="290" height="180"></a>
                <a href="/assets/oferte/materiale scoalare/020.jpg"><img src="/assets/oferte/materiale scoalare/020_thumbnail.jpeg" width="290" height="180"></a>
                <a href="/assets/oferte/materiale scoalare/021.jpg"><img src="/assets/oferte/materiale scoalare/021_thumbnail.jpeg" width="290" height="180"></a>
                <a href="/assets/oferte/materiale scoalare/022.jpg"><img src="/assets/oferte/materiale scoalare/022_thumbnail.jpeg" width="290" height="180"></a>
                <a href="/assets/oferte/materiale scoalare/023.jpg"><img src="/assets/oferte/materiale scoalare/023_thumbnail.jpeg" width="290" height="180"></a>
                <a href="/assets/oferte/materiale scoalare/024.jpg"><img src="/assets/oferte/materiale scoalare/024_thumbnail.jpeg" width="290" height="180"></a>
                <a href="/assets/oferte/materiale scoalare/025.jpg"><img src="/assets/oferte/materiale scoalare/025_thumbnail.jpeg" width="290" height="180"></a>
                <a href="/assets/oferte/materiale scoalare/026.jpg"><img src="/assets/oferte/materiale scoalare/026_thumbnail.jpeg" width="290" height="180"></a>
                <a href="/assets/oferte/materiale scoalare/031.jpg"><img src="/assets/oferte/materiale scoalare/031_thumbnail.jpeg" width="290" height="180"></a>
                
            </div>
        </div>
    </div>
</div>