<div class="content-container">
    <div class="content-container-inner">
        <div class="text-container">
            <h2 class="title">noutati</h2>
            <hr>
            <p>Sectia de ambalaje a fost infiintata din dorinta de dezvoltare continua, producem ambalaje din carton ondulat, in 3,5 si 7 straturi. Ambalajele din carton ondulat pot fi conform standardului FEFCO sau conform cerintelor clientului. In gama noastra de productie intra:</p>
            <p>- cutii de arhivare</p>
            <p>- cutii caserate de diverse formate tiparite in policromie, cu sau fara innobilari (laminare, imprimare folio aur/argint, lacuire selectiva, embosare - imprimare in relief);</p>
            <p>Ambalajele pot fi executate in tiraje foarte mici (prototipuri sau serii mici), medii si mari</p>
            <p>Va oferim si servicii de proiectare si personalizare a ambalajelor in format 2D si 3D.</p>
            <p>In cazul in care sunteti interesati de oferta noastra va rog nu ezitati sa ne contactati pe adresa de e-mail ambalaje@treira.ro.</p>
        </div>
        <b><p style="font-size: larger;">Cutii Caserate</p></b>
        <div class="image-container">
            <div class="wrapper">
                <a href="/assets/oferte/poze ambalaje/_MG_0141.JPG"><img src="/assets/oferte/poze ambalaje/_MG_0141_thumbnail.jpeg" width="290" height="170"></a>
                <a href="/assets/oferte/poze ambalaje/_MG_0143.JPG"><img src="/assets/oferte/poze ambalaje/_MG_0143_thumbnail.jpeg" width="290" height="260"></a>
                <a href="/assets/oferte/poze ambalaje/_MG_0145.JPG"><img src="/assets/oferte/poze ambalaje/_MG_0145_thumbnail.jpeg" width="290" height="200"></a>
                <a href="/assets/oferte/poze ambalaje/_MG_0148.JPG"><img src="/assets/oferte/poze ambalaje/_MG_0148_thumbnail.jpeg" width="290" height="200"></a>
                <a href="/assets/oferte/poze ambalaje/_MG_0150.JPG"><img src="/assets/oferte/poze ambalaje/_MG_0150_thumbnail.jpeg" width="290" height="238"></a>
                <a href="/assets/oferte/poze ambalaje/_MG_0155.JPG"><img src="/assets/oferte/poze ambalaje/_MG_0155_thumbnail.jpeg" width="290" height="289"></a>
            </div>
        </div>
    </div>
</div>