<div class="content-container">
    <div class="content-container-inner">
        <div class="text-container">
            <h2 class="title">pliante/flyere</h2>
            <hr>
            <p>Va oferim o gama variata de pliante si flyere la cea mai inalta calitate in tiraje mici si mari, pe tipar offset sau tipar digital.</p>

            <p>Pliantele sunt indoite automat cu ajutorul echipamentelor tipografice cu posibilitatea indoirii atat in paralel cat si in cruce pana la formate maxime de 50x70 cm.</p>
        </div>
        <div class="image-container">
            <div class="wrapper">
                <a href="/assets/oferte/pliante flyere/IMG_0008.jpg"><img src="/assets/oferte/pliante flyere/IMG_0008_thumbnail.jpeg" width="290" height="180"></a>
                <a href="/assets/oferte/pliante flyere/IMG_0014.jpg"><img src="/assets/oferte/pliante flyere/IMG_0014_thumbnail.jpeg" width="290" height="180"></a>
                <a href="/assets/oferte/pliante flyere/IMG_0018.jpg"><img src="/assets/oferte/pliante flyere/IMG_0018_thumbnail.jpeg" width="290" height="180"></a>
                <a href="/assets/oferte/pliante flyere/IMG_0020.jpg"><img src="/assets/oferte/pliante flyere/IMG_0020_thumbnail.jpeg" width="290" height="180"></a>
                <a href="/assets/oferte/pliante flyere/IMG_0024.jpg"><img src="/assets/oferte/pliante flyere/IMG_0024_thumbnail.jpeg" width="290" height="180"></a>
                <a href="/assets/oferte/pliante flyere/IMG_0027.jpg"><img src="/assets/oferte/pliante flyere/IMG_0027_thumbnail.jpeg" width="290" height="180"></a>
                <a href="/assets/oferte/pliante flyere/IMG_0029.jpg"><img src="/assets/oferte/pliante flyere/IMG_0029_thumbnail.jpeg" width="290" height="180"></a>
                <a href="/assets/oferte/pliante flyere/IMG_0030.jpg"><img src="/assets/oferte/pliante flyere/IMG_0033_thumbnail.jpeg" width="290" height="180"></a>
                <a href="/assets/oferte/pliante flyere/IMG_0035.jpg"><img src="/assets/oferte/pliante flyere/IMG_0035_thumbnail.jpeg" width="290" height="180"></a>
                <a href="/assets/oferte/pliante flyere/IMG_0044.jpg"><img src="/assets/oferte/pliante flyere/IMG_0044_thumbnail.jpeg" width="290" height="180"></a>
                <a href="/assets/oferte/pliante flyere/IMG_0047.jpg"><img src="/assets/oferte/pliante flyere/IMG_0047_thumbnail.jpeg" width="290" height="180"></a>
                <a href="/assets/oferte/pliante flyere/IMG_0053.jpg"><img src="/assets/oferte/pliante flyere/IMG_0053_thumbnail.jpeg" width="290" height="180"></a>
                <a href="/assets/oferte/pliante flyere/IMG_0062.jpg"><img src="/assets/oferte/pliante flyere/IMG_0062_thumbnail.jpeg" width="290" height="180"></a>
                <a href="/assets/oferte/pliante flyere/IMG_0068.jpg"><img src="/assets/oferte/pliante flyere/IMG_0068_thumbnail.jpeg" width="290" height="180"></a>
                <a href="/assets/oferte/pliante flyere/IMG_0069.jpg"><img src="/assets/oferte/pliante flyere/IMG_0069_thumbnail.jpeg" width="290" height="180"></a>
                
                
            </div>
        </div>
    </div>
</div>