body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}
footer
{
  margin: 10px 0 0;
	max-width: 100%;
	height: 130px;
	background-image: url("/assets/img/Footer\ Strip.png");
	background-size: cover;
	background-repeat: no-repeat;
}
/* header style */
header
{
	background-image: url("/assets/img/Top\ Banner.png");
	background-repeat: no-repeat;
	background-size: cover;
	max-width: 100%;
	height: 275px;
}


#top
{
	max-width: 900px;
	width: 80%;
	height: 275px;
	margin: 0 auto;
}


#logo
{
	
	padding-bottom: 20px;
}

#tlogo
{
	border-radius:1px 1px 5px 5px;
}


nav
{
	padding-top: 50px;
	max-width: 900px;
	margin:0 auto;
	height:100px;
	font-size: 13px;
}


#frmSearch
{
	float: right;
	margin-bottom: 5px;
}


input
{
	background-image: url("/assets/img/icon.png");
	background-repeat: no-repeat;
	background-size: contain;
	padding-left: 22px;
	margin-bottom: 10px;
	margin-top: 10px;
	width: 210px;
	border-radius: 25px;
}


#double
{
	color: black;
	text-decoration: none;
	

}

#double:hover
{
	background-image: url("/assets/img/pressed2.png");
	background-repeat: no-repeat;
	background-size: cover;
}

#double:active
{
	background-image: url("/assets/img/state.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-color: none;

}


#link
{
	color: black;
	text-decoration: none;
}


#link:hover{
	background-image: url("/assets/img/pressed.png");
	background-repeat: no-repeat;
	background-size: cover;

}


#link:active{
	background-image: url("/assets/img/state.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-color: none;
	
}


#linkc
{
	background-image: url("/assets/img/contact0.png");
	background-repeat: no-repeat;
	background-size: cover;
	margin-left: 10px;
	color: white;
	text-decoration: none;
}

#button:hover{
	background-image: url("/assets/img/pressed.png");
	background-repeat: no-repeat;
	background-size: cover;
	

}

#button:active{
	background-image: url("/assets/img/state.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-color: none;
	
}

#linkc:hover
{
	background-image: url("/assets/img/contact.png");
	background-size: cover;
	background-repeat: no-repeat;
}


#linkc:active
{
	background-image: url("/assets/img/conpressed.png");
	background-repeat: no-repeat;
	background-size: cover;
}

.dropbtn {

padding: 10px;
border: none;
background-color: transparent;
  
}
.dropbtn a {
  text-decoration: none;
  color: black;
}
  
  
/* The container <div> - needed to position the dropdown content */
.dropdown {

    position: relative;
    display: inline-block;
    background-color: unset;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    top: 20px;
    right: -200px;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  
  
  #ambalaj{
  margin-left: 35px;
  }
  
 



/* content styling */
.title{
  color: 	#059DDC;
  text-transform: uppercase;
}
.text-container{
  width: 100%;
  overflow: hidden;
}
.image-container{
  width: 100%;
}

.content-container{
  display: flex;
  max-width: 900px;
  justify-content: center;
  margin: 0 auto;
  overflow: auto;
  padding: 15px 0 0;
  
}

.content-container-inner {
  display: flex;
  width: 100%;
  flex-direction: column;
  
}

.home-container{
  display: flex;

}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.wrapper-footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

#map{
  width: 100%;
  height: 300px;
  z-index: -999999;
}
.btn.btn-default.btn-lg {
  font-size: 13px;
}
.adresa {
  float: left;
}

/* Footer */

.chenar
{
	max-width: 900px;
	width: 80%;
	margin: 0 auto;
	height: 130px;

}

.orar
{
	padding-left: 30px;
	max-width: 900px;
	width: 200px;
	height: 100%;
	margin: 0 auto;
	text-align: justify;
}

.fstrip
{
 	margin-left: 200px;
	width: 150px;
	height: 130px;
	background-image: url("/assets/img/fstrip.png");
	background-repeat: no-repeat;
	background-size: 130%;
}

.footer-ul {
  padding: 15px 18px 20px;
  margin-top: 0;
  margin-bottom: 10px;
}

.footer-li {
  font-size: 12px;
  margin-bottom: 13px;
  color: white;
  text-decoration: none;
}

.jos {
  color: white;
}

.bbanner
{
	height: 50px;
	background-image: url("/assets/img/Bottom\ Banner.png");
	background-repeat: no-repeat;
	background-size: cover;
}


@media (max-width: 600px) {
  body {
    font-size: 10px;
  }

  .menu-container-inner {
    max-width: 600px;
    margin: 0 auto;

  }
  nav {
    padding-top: 0%;
  }

  .logo {
    margin-top: 30px;
    width: 150px;
    height: 70px;
  }
  
  .flex {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  
  .nav-container {
    position: absolute;
    top: 120px;
    max-width: 600px;
  }

  .btn.btn-default.btn-lg {
    font-size: 10px;
  }

  .header {
    height: 200px;
  }

  nav>ul>li {
    float: left;
    height: 100%;
    line-height: 1.8em;
    position: relative;
  }

  .position-expand-arrow {
    position: absolute !important;
    right: 1em !important;
    line-height: 1.8em !important;
  }

  nav>ul>li>ul {
    font-size: 10px;
  }

  nav ul::after, nav ul::before {
    content: "";
    min-width: 170px;
    display: table;
  }

  footer {
    height: 100px;
  }

  .footer-li {
    font-size: 8px;
    margin-bottom: 8px;
  }


  .fstrip {
    margin-left: 50px;
    height: 100px;
  }

  .content-container {
    display: flex;
    max-width: 600px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    overflow: auto;
    padding: 15px 0 0;
  }

  .title {
    text-align: center;
  }

  #app {
    margin: 0 30px 0;
  }

  .wrapper{
    grid-template-columns: repeat(2, 1fr);
  }

  .wrapper a {
    width: 270px;
  }

  .wrapper img {
    width: 270px;
  }

  
}

@media (max-width: 900px) {
  body {
    font-size: 10px;
  }

  .menu-container-inner {
    max-width: 900px;
    margin: 0 auto;

  }
  nav {
    padding-top: 0%;
  }

  
  
  .flex {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  
  .nav-container {
    position: absolute;
    top: 120px;
    max-width: 600px;
  }

  .btn.btn-default.btn-lg {
    font-size: 10px;
  }

  .header {
    height: 200px;
  }

  nav>ul>li {
    float: left;
    height: 100%;
    line-height: 1.8em;
    position: relative;
  }

  .position-expand-arrow {
    position: absolute !important;
    right: 1em !important;
    line-height: 1.8em !important;
  }

  nav>ul>li>ul {
    font-size: 10px;
  }

  nav ul::after, nav ul::before {
    content: "";
    min-width: 170px;
    display: table;
  }

  footer {
    height: 100px;
  }

  .footer-li {
    font-size: 8px;
    margin-bottom: 8px;
  }


  .fstrip {
    margin-left: 50px;
    height: 100px;
  }

  .content-container {
    display: flex;
    max-width: 900px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    overflow: auto;
    padding: 15px 0 0;
  }

  #top{
    width: 90%;
  }

  .title {
    text-align: center;
  }

  #app {
    margin: 0 30px 0;
  }

  .wrapper{
    grid-template-columns: repeat(2, 1fr);
  }

  .wrapper a {
    width: 270px;
  }

  .wrapper img {
    width: 270px;
  }

  
}