body style
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}
footer
{
	max-width: 100%;
	height: 130px;
	background-image: url("/assets/img/Footer\ Strip.png");
	background-size: cover;
	background-repeat: no-repeat;
}
/* header style */
.header{
	background-image: url("/assets/img/Top\ Banner.png");
	background-repeat: no-repeat;
	background-size: cover;
	max-width: 100%;
  height: 275px;
  margin: -10px -10px;
}

.header ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-container {
    width: 100%;
    z-index: 99;
}

.nav-container a{
  text-align: center;
  text-decoration: none;
  color: black;
  text-transform: uppercase;
    
}



.menu-container-inner {
    max-width: 900px;
    margin: 0 auto;
    overflow: auto;
    
}


.nav-container {
    position: absolute;
    top: 190px;
    right: 45%;
    max-width: 900px;
}


.flex {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.nav-flex {
    display: flex;
    flex-direction: column;
}
/* stilizarea meniului */
ul, li {margin: 0;padding: 0;}

nav ul li{
    list-style-type:none;
}

nav { 
    background:transparent; 
    padding-top:3px; 
    border-radius:3px;
}

/* styling main topbar */
nav>ul{
  height:2.6em;
  background:transparent;
  border-radius:3px;
}
/* important to keep submenu at their position */
nav>ul li{position:relative;}
/*styling topbar navigation items */
nav>ul>li{
  float:left;
  
  height:100%;
  line-height:2.6em;
  position:relative;
}





/* applying style to topbar items */
nav>ul>li>a{
  padding:0 1.6em;
}
nav>ul>li a{
  display:block;
  color:#ecf0f1;
}

nav>ul>li:first-child:hover{
  border-top-left-radius:3px;
  border-bottom-left-radius:3px;
  
}

nav>ul>li>ul>li:last-child:hover,
nav>ul>li>ul>li>ul>li:last-child:hover,
nav>ul>li>ul>li>ul>li>ul>li:last-child:hover{
   border-bottom-left-radius:3px;
  border-bottom-right-radius:3px;  
}
nav>ul>li>ul{
  position:absolute;
  left:-9999px;
  white-space:nowrap;
  background:#fff;
  border-bottom-left-radius:3px;
  border-bottom-right-radius:3px;
  transition:.3s left ease-in-out;
} 
nav>ul>li>ul>li>ul,nav>ul>li>ul>li>ul>li>ul{
  position:absolute;
  left:-9999px;
  white-space:nowrap;
  background:#fff;
  border-bottom-left-radius:3px;
  border-bottom-right-radius:3px;
  transition:.3s left ease-in-out;
}




/* padding for each submenu lists */
nav>ul>li>ul>li, nav>ul>li>ul>li>ul>li,
nav>ul>li>ul>li>ul>li>ul>li{
  padding:0 1em;

}
/* applying different colors for submenu */
nav>ul>li>ul,
nav>ul>li>ul>li>ul{
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 5px;
    
}


/* revealing first level submenu */
nav>ul>li:hover>ul{
    left:0; 
    top:40;
	transition:.3s left ease-in-out;
}
/* revealing second level submenu */
nav>ul>li>ul>li:hover>ul{
   left:100%;
   top:0;
   transition:.3s left ease-in-out;
   z-index: 1;
}
/* revealing third submenu */
nav>ul>li>ul>li>ul>li:hover>ul{
  left:100%;
  top:0%;
 transition:.3s left ease-in-out;
}
/* positioning the angle arrows towards right inside submenu*/
.position-expand-arrow{
  position:absolute !important;
  right:1em !important;
  line-height:2.6em !important;
}
/* Clearing floats */
nav ul::after, nav ul::before{
  content:"";
  min-width: 250px;
  display:table;
}
nav ul::after{
  clear:both;
}


article{
  text-align:center;
}
article a{
  text-decoration:none;
}


/* content styling */
.title{
  color: 	#059DDC;
  text-transform: uppercase;
}
.text-container{
  width: 100%;
  overflow: hidden;
}
.image-container{
  width: 100%;
}

.content-container{
  display: flex;
  max-width: 900px;
  justify-content: center;
  margin: 0 auto;
  overflow: auto;
  padding: 15px 0 0;
  
}

.content-container-inner {
  display: flex;
  width: 100%;
  flex-direction: column;
  
}

.home-container{
  display: flex;

}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

#map{
  width: 100%;
  height: 300px;
  z-index: -999999;
}
.btn.btn-default.btn-lg {
  font-size: 13px;
}
.adresa {
  float: left;
}

.chenar
{
	max-width: 900px;
	width: 80%;
	margin: 0 auto;
	height: 130px;

}

.orar
{
	padding-left: 30px;
	max-width: 900px;
	width: 200px;
	height: 100%;
	margin: 0 auto;
	text-align: justify;
}

.fstrip
{
 	margin-left: 200px;
	width: 150px;
	height: 130px;
	background-image: url("/assets/img/fstrip.png");
	background-repeat: no-repeat;
	background-size: 130%;
}

.footer-ul {
  padding: 15px 18px 20px;
  margin-top: 0;
  margin-bottom: 10px;
}

.footer-li {
  font-size: 12px;
  margin-bottom: 13px;
  color: white;
  text-decoration: none;
}

.jos {
  color: white;
}

.bbanner
{
	height: 50px;
	background-image: url("/assets/img/Bottom\ Banner.png");
	background-repeat: no-repeat;
	background-size: cover;
}