<div class="content-container">
    <div class="content-container-inner">
        <div class="text-container">
            <h2 class="title">agende/calendare</h2>
            <hr>
            <p>Agende, calendare, notesuri, organizatoare de birou personalizate integral sau partial va stau la dispozitie in gama noastra de produse de sfarsit de an.</p>
            <p>In afara acestor produse va oferim si alte produse promotionale personalizabile prin serigrafie, folio sau gravare laser
            cum ar fi:</p>
            <p>- pixuri din plastic sau metalice</p>
            <p>- set compus din pix si stilou personalizabile prin gravare</p>
            <p>- brichete personalizabile</p>
            <p>- cutii de cadouri</p>
            <p>- cutii pentru sticle cadou</p>
            <p>- felicitari</p>
        </div>
        <div class="image-container">
            <div class="wrapper">
                <a href="/public/assets/oferte/agende&calendare/IMG_0002.jpg"><img src="/public/assets/oferte/agende&calendare/IMG_0002_thumbnail.jpeg" width="290" height="180"></a>
                <a href="/public/assets/oferte/agende&calendare/IMG_0004.jpg"><img src="/public/assets/oferte/agende&calendare/IMG_0004_thumbnail.jpeg" width="290" height="180"></a>
                <a href="/public/assets/oferte/agende&calendare/IMG_0005-2.jpg"><img src="/public/assets/oferte/agende&calendare/IMG_0005-2_thumbnail.jpeg" width="290" height="180"></a>
                <a href="/public/assets/oferte/agende&calendare/IMG_0006.jpg"><img src="/public/assets/oferte/agende&calendare/IMG_0006_thumbnail.jpeg" width="290" height="180"></a>
                <a href="/public/assets/oferte/agende&calendare/IMG_0007.jpg"><img src="/public/assets/oferte/agende&calendare/IMG_0007_thumbnail.jpeg" width="290" height="180"></a>
                <a href="/public/assets/oferte/agende&calendare/IMG_0008.jpg"><img src="/public/assets/oferte/agende&calendare/IMG_0008_thumbnail.jpeg" width="290" height="180"></a>
                <a href="/public/assets/oferte/agende&calendare/IMG_0009.jpg"><img src="/public/assets/oferte/agende&calendare/IMG_0009_thumbnail.jpeg" width="290" height="180"></a>
                <a href="/public/assets/oferte/agende&calendare/IMG_0010.jpg"><img src="/public/assets/oferte/agende&calendare/IMG_0010_thumbnail.jpeg" width="290" height="180"></a>
                <a href="/public/assets/oferte/agende&calendare/IMG_0012.jpg"><img src="/public/assets/oferte/agende&calendare/IMG_0012_thumbnail.jpeg" width="290" height="180"></a>
            </div>
            
        </div>
    </div>
</div>