<div class="content-container">
    <div class="content-container-inner">
        <div class="text-container">
            <h2 class="title">Ambalaje</h2>
            <hr>
            <p>Sectia de ambalaje a fost infiintata din dorinta de dezvoltare continua, producem ambalaje din carton ondulat, in 3,5 si 7 straturi. Ambalajele din carton ondulat pot fi conform standardului FEFCO sau conform cerintelor clientului. In gama noastra de productie intra:</p>
            <p>- cutii de arhivare</p>
            <p>- cutii caserate de diverse formate tiparite in policromie, cu sau fara innobilari (laminare, imprimare folio aur/argint, lacuire selectiva, embosare - imprimare in relief);</p>
            <p>Ambalajele pot fi executate in tiraje foarte mici (prototipuri sau serii mici), medii si mari</p>
            <p>Va oferim si servicii de proiectare si personalizare a ambalajelor in format 2D si 3D.</p>
            <p>In cazul in care sunteti interesati de oferta noastra va rog nu ezitati sa ne contactati pe adresa de e-mail ambalaje@treira.ro.</p>
            <p>Daca doriti sa achizitionati din produsele noastre de stoc accesati oferta noastra de pret de mai jos.</p>
			<a href="/public/assets/oferte/formulare/Oferta de pret ambalaje.pdf"><p>Oferta de pret produse stoc.</p> </a>
            
        </div>
        <div class="image-container">
            <p>Cutii generale de transport:</p>
            <div class="wrapper">
                <a href="/public/assets/oferte/poze ambalaje/cutii de transport.jpg"><img src="/public/assets/oferte/poze ambalaje/cutii de transport_thumbnail.jpeg" width="290" height="180"></a>
                <a href="/public/assets/oferte/poze ambalaje/cutie generala transport 1.jpg"><img src="/public/assets/oferte/poze ambalaje/cutie generala transport 1_thumbnail.jpeg" width="290" height="180"></a>
                <a href="/public/assets/oferte/poze ambalaje/cutie generala transport 2.jpg"><img src="/public/assets/oferte/poze ambalaje/cutie generala transport 2_thumbnail.jpeg" width="290" height="180"></a>
                <a href="/public/assets/oferte/poze ambalaje/cutie generala transport 3.jpg"><img src="/public/assets/oferte/poze ambalaje/cutie generala transport 3_thumbnail.jpeg" width="290" height="180"></a>
                <a href="/public/assets/oferte/poze ambalaje/cutie generala transport 4.jpg"><img src="/public/assets/oferte/poze ambalaje/cutie generala transport 4_thumbnail.jpeg" width="290" height="180"></a>
            </div>
            <p>Cutii de transport personalizate</p></div>
            <div class="wrapper">
                <a href="/public/assets/oferte/poze ambalaje/cutie personalizata 1.jpg"><img src="/public/assets/oferte/poze ambalaje/cutie personalizata 1_thumbnail.jpeg" width="290" height="180"></a>
                <a href="/public/assets/oferte/poze ambalaje/cutie personalizata 2.jpg"><img src="/public/assets/oferte/poze ambalaje/cutie personalizata 2_thumbnail.jpeg" width="290" height="180"></a>
                <a href="/public/assets/oferte/poze ambalaje/cutie cu separator 2.jpg"><img src="/public/assets/oferte/poze ambalaje/cutie cu separator 2_thumbnail.jpeg" width="290" height="180"></a>
            </div>
            <p>Cutii cu autoformare si cutii de arhivare</p>
            <div class="wrapper">
                <a href="/public/assets/oferte/poze ambalaje/cutie autoformare personalizata.jpg"><img src="/public/assets/oferte/poze ambalaje/cutie autoformare personalizata_thumbnail.jpeg" width="290" height="180"></a>
                <a href="/public/assets/oferte/poze ambalaje/cutie autoformare.jpg"><img src="/public/assets/oferte/poze ambalaje/cutie autoformare_thumbnail.jpeg" width="290" height="180"></a>
                <a href="/public/assets/oferte/poze ambalaje/cutie arhivare 1.jpg"><img src="/public/assets/oferte/poze ambalaje/cutie arhivare 1_thumbnail.jpeg" width="220" height="300"></a>
            </div>
            <p>Cutii caserate</p>
            <div class="wrapper">
                <a href="/public/assets/oferte/poze ambalaje/cutie cadou generala.jpg"><img src="/public/assets/oferte/poze ambalaje/cutie cadou generala_thumbnail.jpeg" width="220" height="310"></a>
                <a href="/public/assets/oferte/poze ambalaje/cutie cadou sarbatori.jpg"><img src="/public/assets/oferte/poze ambalaje/cutie cadou sarbatori_thumbnail.jpeg" width="200" height="260"></a>
                <a href="/public/assets/oferte/poze ambalaje/_MG_0141.JPG"><img src="/public/assets/oferte/poze ambalaje/_MG_0141_thumbnail.jpeg" width="290" height="180"></a>
                <a href="/public/assets/oferte/poze ambalaje/_MG_0143.JPG"><img src="/public/assets/oferte/poze ambalaje/_MG_0143_thumbnail.jpeg" width="290" height="180"></a>
                <a href="/public/assets/oferte/poze ambalaje/_MG_0145.JPG"><img src="/public/assets/oferte/poze ambalaje/_MG_0145_thumbnail.jpeg" width="290" height="180"></a>
                <a href="/public/assets/oferte/poze ambalaje/_MG_0148.JPG"><img src="/public/assets/oferte/poze ambalaje/_MG_0148_thumbnail.jpeg" width="290" height="180"></a>
                <a href="/public/assets/oferte/poze ambalaje/_MG_0150.JPG"><img src="/public/assets/oferte/poze ambalaje/_MG_0150_thumbnail.jpeg" width="290" height="180"></a>
                <a href="/public/assets/oferte/poze ambalaje/_MG_0155.JPG"><img src="/public/assets/oferte/poze ambalaje/_MG_0155_thumbnail.jpeg" width="290" height="180"></a>
            </div>
        </div>
    </div>
</div>