<div class="content-container">
    <div class="content-container-inner">
        <div class="text-container">
            <h2 class="title">diplome scolare</h2>
            <hr>
            <p>Tipografia Treira va pune la dispozitie un sortiment diversificat de diplome scolare tiparirte color, pe carton de calitate,
			personalizate sau nepersonalizate. La solicitarea dumneavoastra livram oriunde in tara prin servicii de curierat rapid sau prin 
            serviciile Postei Romane.
            </p> 
            <p>
            Pentru comenzi va rugam sa descarcati formularul de comanda de mai jos si dupa completare sa il transmiteti pe adresa de e-mail
            comenzi@treira.ro sau prin fax la numarul 0259|419 482
            </p>
            <a href="/public/assets/oferte/formulare/2018 - DIPLOME PREMIU - Formular de comanda.xls">Formular de comanda diplome scolare</a>
        </div>
        <div class="image-container">
            <div class="wrapper">
                <a href="/public/assets/oferte/poze diplome/001_50052_copiii deseneaza.jpg"><img src="/public/assets/oferte/poze diplome/001_50052_copiii deseneaza_thumbnail.jpeg" width="280" height="190"></a>  
                <a href="/public/assets/oferte/poze diplome/002_50051_liceu.jpg"><img src="/public/assets/oferte/poze diplome/002_50051_liceu_thumbnail.jpeg" width="280" height="190"></a>
                <a href="/public/assets/oferte/poze diplome/003_50050_cerc.jpg"><img src="/public/assets/oferte/poze diplome/003_50050_cerc_thumbnail.jpeg" width="280" height="190"></a>
                <a href="/public/assets/oferte/poze diplome/004_50049_copii in roba.jpg"><img src="/public/assets/oferte/poze diplome/004_50049_copii in roba_thumbnail.jpeg" width="280" height="190"></a>
                <a href="/public/assets/oferte/poze diplome/005_46469_select.jpg"><img src="/public/assets/oferte/poze diplome/005_46469_select_thumbnail.jpeg" width="280" height="190"></a>
                <a href="/public/assets/oferte/poze diplome/006_46468_instrumente.jpg"><img src="/public/assets/oferte/poze diplome/006_46468_instrumente_thumbnail.jpeg" width="280" height="190"></a>
                <a href="/public/assets/oferte/poze diplome/007_46467_creioane.jpg"><img src="/public/assets/oferte/poze diplome/007_46467_creioane_thumbnail.jpeg" width="280" height="190"></a>
                <a href="/public/assets/oferte/poze diplome/008_46466_bobocei.jpg"><img src="/public/assets/oferte/poze diplome/008_46466_bobocei_thumbnail.jpeg" width="280" height="190"></a>
                <a href="/public/assets/oferte/poze diplome/009_39512_personalitati.jpg"><img src="/public/assets/oferte/poze diplome/009_39512_personalitati_thumbnail.jpeg" width="280" height="190"></a>
                <a href="/public/assets/oferte/poze diplome/010_27587_cartea deschisa.jpg"><img src="/public/assets/oferte/poze diplome/010_27587_cartea deschisa_thumbnail.jpeg" width="280" height="190"></a>
                <a href="/public/assets/oferte/poze diplome/011_26862_scolari fericiti.jpg"><img src="/public/assets/oferte/poze diplome/011_26862_scolari fericiti_thumbnail.jpeg" width="280" height="190"></a>
                <a href="/public/assets/oferte/poze diplome/012_21674_cunoastere si miscare.jpg"><img src="/public/assets/oferte/poze diplome/012_21674_cunoastere si miscare_thumbnail.jpeg" width="280" height="190"></a>
                <a href="/public/assets/oferte/poze diplome/013_21667_busola.jpg"><img src="/public/assets/oferte/poze diplome/013_21667_busola_thumbnail.jpeg" width="280" height="190"></a>
                <a href="/public/assets/oferte/poze diplome/014_21666_bucurie.jpg"><img src="/public/assets/oferte/poze diplome/014_21666_bucurie_thumbnail.jpeg" width="280" height="190"></a>
                <a href="/public/assets/oferte/poze diplome/015_19178_aspiratie.jpg"><img src="/public/assets/oferte/poze diplome/015_19178_aspiratie_thumbnail.jpeg" width="280" height="190"></a>
                <a href="/public/assets/oferte/poze diplome/016_16379_mana scriind.jpg"><img src="/public/assets/oferte/poze diplome/016_16379_mana scriind_thumbnail.jpeg" width="280" height="190"></a>
            </div>
        </div>
    </div>
</div>