<div class="content-container">
    <div class="content-container-inner">
        <div class="text-container">
            <h2 class="title">felicitari personalizate</h2>
            <hr>
            <p>Pentru momente speciale, cand doriti sa transmiteti un gand bun sau o urare, va punem la dispozitie o gama diversificata de felicitari personalizabile.</p>
        </div>
        <div class="image-container">
            <div class="wrapper">
                <a href="/public/assets/oferte/poze felicitari/01.jpg"><img src="/public/assets/oferte/poze felicitari/01_thumbnail.jpeg" width="280" height="190"></a>
                <a href="/public/assets/oferte/poze felicitari/02.jpg"><img src="/public/assets/oferte/poze felicitari/02_thumbnail.jpeg" width="280" height="190"></a>
                <a href="/public/assets/oferte/poze felicitari/03.jpg"><img src="/public/assets/oferte/poze felicitari/03_thumbnail.jpeg" width="280" height="190"></a>
                <a href="/public/assets/oferte/poze felicitari/07.jpg"><img src="/public/assets/oferte/poze felicitari/07_thumbnail.jpeg" width="190" height="280"></a>
                <a href="/public/assets/oferte/poze felicitari/18.jpg"><img src="/public/assets/oferte/poze felicitari/18_thumbnail.jpeg" width="190" height="280"></a>
                <a href="/public/assets/oferte/poze felicitari/19.jpg"><img src="/public/assets/oferte/poze felicitari/19_thumbnail.jpeg" width="190" height="280"></a>                
            </div>
        </div>
    </div>
</div>