<div class="content-container">
    <div class="content-container-inner">
        <div class="text-container">
            <h2 class="title">Formulare fiscale</h2>
            <hr>
            <p>Producem o gama diversificata de formulare personalizate, la comanda conform cerintelor dumneavoastra. Din aceasta categorie va mentionam urmatoarele produse:</p>
            <p>- registre personalizate</p>
            <p>- CMR-uri personalizate</p>
            <p>- formulare fiscale copiative</p>
            <p>- bilete de intrare inseriate si numerotate</p>
            <p>- formulare cu date variabile</p>
        </div>
        <div class="image-container">
            <div class="wrapper">
                <a href="/public/assets/oferte/formulare personalizate/IMG_0001.jpg"><img src="/public/assets/oferte/formulare personalizate/IMG_0001_thumbnail.jpeg" width="280" height="190"></a>
                <a href="/public/assets/oferte/formulare personalizate/IMG_0001 1.jpg"><img src="/public/assets/oferte/formulare personalizate/IMG_0001 1_thumbnail.jpeg" width="280" height="190"></a>
                <a href="/public/assets/oferte/formulare personalizate/IMG_0002.jpg"><img src="/public/assets/oferte/formulare personalizate/IMG_0002_thumbnail.jpeg" width="280" height="190"></a>
                <a href="/public/assets/oferte/formulare personalizate/IMG_0003.jpg"><img src="/public/assets/oferte/formulare personalizate/IMG_0003_thumbnail.jpeg" width="280" height="190"></a>
                <a href="/public/assets/oferte/formulare personalizate/IMG_0003 1.jpg"><img src="/public/assets/oferte/formulare personalizate/IMG_0003 1_thumbnail.jpeg" width="280" height="190"></a>
                <a href="/public/assets/oferte/formulare personalizate/IMG_0004.jpg"><img src="/public/assets/oferte/formulare personalizate/IMG_0004_thumbnail.jpeg" width="280" height="190"></a>
                <a href="/public/assets/oferte/formulare personalizate/IMG_0004 1.jpg"><img src="/public/assets/oferte/formulare personalizate/IMG_0004 1_thumbnail.jpeg" width="280" height="190"></a>
                <a href="/public/assets/oferte/formulare personalizate/IMG_0005.jpg"><img src="/public/assets/oferte/formulare personalizate/IMG_0005_thumbnail.jpeg" width="280" height="190"></a>
                <a href="/public/assets/oferte/formulare personalizate/IMG_0005 1.jpg"><img src="/public/assets/oferte/formulare personalizate/IMG_0005 1_thumbnail.jpeg" width="280" height="190"></a>
                <a href="/public/assets/oferte/formulare personalizate/IMG_0006.jpg"><img src="/public/assets/oferte/formulare personalizate/IMG_0006_thumbnail.jpeg" width="280" height="190"></a>
                <a href="/public/assets/oferte/formulare personalizate/IMG_0006 1.jpg"><img src="/public/assets/oferte/formulare personalizate/IMG_0006 1_thumbnail.jpeg" width="280" height="190"></a>
                <a href="/public/assets/oferte/formulare personalizate/IMG_0007.jpg"><img src="/public/assets/oferte/formulare personalizate/IMG_0007_thumbnail.jpeg" width="280" height="190"></a>
                <a href="/public/assets/oferte/formulare personalizate/IMG_0007 1.jpg"><img src="/public/assets/oferte/formulare personalizate/IMG_0007 1_thumbnail.jpeg" width="280" height="190"></a>
                <a href="/public/assets/oferte/formulare personalizate/IMG_0008.jpg"><img src="/public/assets/oferte/formulare personalizate/IMG_0008_thumbnail.jpeg" width="280" height="190"></a>
                <a href="/public/assets/oferte/formulare personalizate/28790 cmr national transolut.jpg"><img src="/public/assets/oferte/formulare personalizate/28790 cmr national transolut_thumbnail.jpeg" width="280" height="190"></a>
                <a href="/public/assets/oferte/formulare personalizate/32726_deviz de lucru FRIGOVENT.jpg"><img src="/public/assets/oferte/formulare personalizate/32726_deviz de lucru FRIGOVENT_thumbnail.jpeg" width="280" height="190"></a>
                  
            </div>
        </div>
    </div>
</div>