<div class="content-container">
    <div class="content-container-inner">
        <div class="text-container">
            <h2 class="title">servicii de transport</h2>
            <hr>
            <p>Va oferim servicii de transport intern si international de marfuri cu masini utilitare de pana la 3.5 tone.</p>
            <p>Pentru mai multe informatii va rugam sa ne contactati la una din urmatoarele adrese de e-mail</p>
            <p>office@treira.ro sau comenzi@treira.ro</p>
        </div>
        <div class="image-container">

        </div>
    </div>
</div>