<div class="content-container">
    <div class="content-container-inner">
        <div class="text-container">
            <h2 class="title">Servicii tipografice</h2>
            <hr>
            <p>Va oferim o gama larga de servicii tipografice cum ar fi: </p>
            <p>- servicii de legatorie manuala si de arta</p>
            <p>- servicii de brosare cu termoclei</p>
            <p>- servicii de cusut cu ata si incleiere carte</p>
            <p>- servicii de gravare laser</p>
            <p>- servicii de finisaj automat(faltuire in cruce si in paralel, adunare brosuri si capsare)</p>
            <p>- servicii de arhivare</p>
        </div>
    </div>
</div>